//COLORS
$color-black-primary: #111111;
$color-black-secondary: #434343;

$color-white-primary: #fff;
$color-white-secondary: #d3d3d3;

$backgroundColor-primary: #f8f7f4;

// font-size

$font-size-16px: 1.6rem;
$font-size-10px: 1rem;
