* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 65.5%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);

  @include mediaQueries(1440) {
    font-size: 60.5%;
  }
  // @include mediaQueries(698) {
  //   font-size: 50%;
  // }
}

body {
  background-color: $backgroundColor-primary;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color: $color-black-primary;
  font-size: 1.6rem;
  text-decoration: none;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
p {
  font-size: 1.6rem;
}

i {
  font-size: 1.6rem;
}

*::selection {
  background-color: rgb(238, 238, 93);
}
