.header {
  display: flex;
  padding: 0 3rem;
  align-items: center;
  height: 10rem;
  z-index: 10;
  position: relative;

  &-nav-leftSide {
    flex-basis: 45%;
    margin-left: 2rem;

    @include mediaQueries(1440) {
      flex-basis: 51%;
      order: 2;
    }
    @include mediaQueries(1050) {
      flex-basis: 0%;
    }
  }
  &-nav-rightSide {
    flex-basis: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include mediaQueries(1440) {
      order: 3;
    }
    @include mediaQueries(1050) {
      flex-basis: 90%;
    }

    & form {
      // border: 1px solid $color-black-primary;
      padding: 1rem 1.6rem;
      border-radius: $font-size-10px;
      background-color: $color-white-primary;
      width: 16vw;
      position: relative;
      transition: all 0.5s linear;
      left: -1.5rem;

      @include mediaQueries(1050) {
        width: 0px;
        background-color: unset;
      }

      &:hover {
        width: 16vw;
        background-color: $color-white-primary;
      }
      &:hover .search {
        width: 12vw;
        opacity: 1;
      }
    }

    & i {
      position: relative;
      top: 0;
      left: -0.7rem;
    }
  }
  &-nav-ul {
    display: flex;
    visibility: visible;
    opacity: 1;

    @include mediaQueries(1050) {
      flex-direction: column;
      position: fixed;
      top: 8.2em;
      left: 0;
      // gap: 2em;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s linear;
      width: 100%;
      background-color: lightgray;
      padding: 2rem 0;
    }
  }
  &-nav-ul li {
    padding: 0 1rem;

    &:has(ul) {
      position: relative;
    }
  }

  @include mediaQueries(1050) {
    padding: 0 2em 0 6em;
  }
}

.search {
  border: none;
  font-size: 1.6rem;
  width: 12vw;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  visibility: visible;
  opacity: 1;
  transition: all 0.5s linear;
  z-index: 2;

  &:active,
  &:focus {
    outline: none;
  }
  @include mediaQueries(1050) {
    opacity: 0;
    width: 0;
  }
}

.logo {
  flex-basis: 7%;

  &-a {
    font-family: "Alkaline";
    font-size: 3.4rem;
  }

  @include mediaQueries(1440) {
    order: 1;
  }
  @include mediaQueries(1050) {
    position: relative;
    left: 1em;
  }
}

.accounts {
  padding: 1rem 1.6rem;
  border-radius: $font-size-10px;
  // border: 1px solid $color-black-primary;

  &-login {
    background-color: $color-black-primary;
    color: $color-white-primary;
    margin: 0 1.6rem;
  }
  &-signup {
    background-color: $color-white-primary;
    color: $color-black-primary;
  }
  @include mediaQueries(750) {
    // width: 3.4em;
    text-align: center;
  }
}

.icons {
  font-size: 2rem;
  position: absolute;
  top: 1.8em;
  left: 1.5em;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s linear;

  @include mediaQueries(1050) {
    visibility: visible;
    opacity: 1;
  }
}

.show {
  visibility: visible;
  opacity: 1;
}

.header-nav-dropdownlist--01,
.header-nav-dropdownlist--02 {
  position: absolute;
  display: flex;
  width: 34rem;
  flex-direction: column;
  padding: 1rem;
  top: 1ren;
  left: 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
  transition: all 0.5s ease-out;

  & span {
    display: block;
    font-size: 1.3rem;
  }
}

.header-nav-dropdownlist--01 {
  width: 24rem;

  @include mediaQueries(1050) {
    position: relative;
    margin: 1rem 0;
    padding: 2rem 6px;
    border-left: 1px solid darkgray;
    visibility: visible;
    opacity: 1;
    left: 3rem;
  }
}

.header-nav-dropdownlist--02 {
  width: 26rem;

  @include mediaQueries(1050) {
    position: relative;
    margin: 1rem 0;
    padding: 2rem 6px;
    border-left: 1px solid darkgray;
    visibility: visible;
    opacity: 1;
    left: 3rem;
  }
}

.header-nav-dropdownlist--01 li:not(:last-of-type),
.header-nav-dropdownlist--02 li:not(:last-of-type) {
  margin-bottom: 2rem;
}

.header-nav-ul
  li:has(.header-nav-dropdownlist--01):hover
  .header-nav-dropdownlist--01 {
  visibility: visible;
  opacity: 1;
}

.header-nav-ul
  li:has(.header-nav-dropdownlist--02):hover
  .header-nav-dropdownlist--02 {
  visibility: visible;
  opacity: 1;
}

.header-nav-dropdownlist--01,
.header-nav-dropdownlist--02 {
  background-color: #aaa;

  @include mediaQueries(1050) {
    background-color: unset;
    width: 70%;
    top: 5%;
  }
}

.header-nav-dropdownlist--01 li,
.header-nav-dropdownlist--02 li {
  padding: 1rem;
}
.header-nav-dropdownlist--01 li:hover,
.header-nav-dropdownlist--02 li:hover {
  background-color: lightgray;
  border-radius: 1rem;
}

.fixed {
  position: fixed;
}

.logo-element {
  background-image: url();
}

// .fa-chevron-down:hover {
//   transform: rotate(180deg);
// }

.chevron_down_2 {
  transition: transform 0.5s linear;
}

.header-nav-ul li:has(.header-nav-dropdownlist--02):hover .chevron_down_2 {
  transform: rotate(-180deg);
}
