.slider-container {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  //   z-index: -10;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-281px * 7);
  }
}

.slider {
  width: calc(281px * 14);
  animation: slideshow 15s linear infinite;

  transition: transform 1s ease;
}
.slider:hover .slide {
  transform: translateX(-50px);
}

.slider::after,
.slider::before {
  content: "";
  clear: both;
  display: table;
}

.slide {
  width: 270px;
  height: 270px;
  background-color: white;
  margin-right: 1rem;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  transform: translateX(0);
  transition: all 1s ease;
}
