.title_section {
  text-align: center;
  margin: 8rem 0;

  &_h1 {
    font-size: 7.4rem;
    width: 80rem;
    margin: 0 auto;
    margin-top: 0px;
    font-family: serif;
    font-weight: 400;
    margin-top: 8rem;
    margin-bottom: 4rem;

    @include mediaQueries(750) {
      font-size: 6.4rem;
      width: 60rem;
    }
    @include mediaQueries(620) {
      font-size: 4.4rem;
      width: 40rem;
    }
    @include mediaQueries(420) {
      font-size: 3.4rem;
      width: 30rem;
    }
  }
  &_h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }
  &_button--1 {
    padding: 0.5rem 1rem;
    background-color: lightcoral;
    border-radius: 10rem;
  }
}
